<launch>	
	<include file="$(find mbot_follower)/launch/include/velocity_smoother.launch.xml"/>

	<node pkg="nodelet" type="nodelet" name="mbot_base_nodelet_manager" args="manager"/>
	<node pkg="nodelet" type="nodelet" name="follower_nodelet" args="load follower/FollowerNodelet mbot_base_nodelet_manager" output="screen"/>
</launch>
